@charset "utf-8";
/* CSS Document */

.background{
position:relative;
width:400px;
height:600px;
background-image:url(../images/road.png);
background-repeat:repeat-y;
overflow:hidden;
}

.car{
position:absolute;
width:100px;
height:100px;
background-image:url(../images/batmobile.png);
}

.enemy-car{
position:absolute;
width:100px;
height:100px;
background:red;
}

